/* BASIC SETUP */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
   
     background-color: #6b310a; 
    
    color: #030303;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}
/* background-size: cover;
 background-repeat: no-repeat */
/* ---------------------------- */
/* REUSEABLE COMPONENTS */
/* ---------------------------- */

.row {
    max-width: 1140px;
    margin: 0 auto;
}

section {
    padding: 80px 0;
}

.box {
    padding: 1%;
}

/* ---------------------------- */
/* HEADINGS */
/* ---------------------------- */

h1, 
h2,
h3 {
    font-weight: 700;
    font-family: 'Alegreya', serif;
    text-transform: uppercase;
    color: rgb(0, 0, 0);
}

h1 {
    margin-top: 0;
    margin-bottom: 20px;
    color: rgb(247, 239, 239);
    font-family: 'Courgette', cursive;
    font-weight: bold;
    font-size: 400%;
    word-spacing: 4px;
    letter-spacing: 1px;
}

.title {
    padding: 15px;
    text-align: center;
}

/* #ferment-title {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3)), url("../images/keg-and-barrel.jpg") repeat 0 0 ;
}

#barrel-title {
    
} */
.brewery-line {
    width: 30%;
    float: left;
    position: relative;
}

.floatable {
    float: right;
}
.marginable {
    margin: 20px;
}
.brewery-text {
    float: left;
    width: 20%;
}
.brewery-image {
    width: 20px;
    float: left;
}
.beer-button {
    float: right;
}
.margin-right {
    margin-right: 10px;
}
#beer-list img {
    float: right;
    width: 50px;
}
.beer-text {
    float: right
}


.brewery-line .beer-list {
    float: right;
}

#header {
    /* background-image: url("/Users/johnleonetti/Development/code/mod-4/JSproject/JS-frontend/ferment-and-barrel/images/hops.jpg"); */
    background-image: url(/images/hops.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 20%;
    width: 100%;
    text-align: center;
}

.barrel-image {
    width: 500px;
}